@charset "UTF-8";
/* =====================================================
   TYPICAL DEVICE BREAKPOINTS (REFERÊNCIA RÁPIDA)

   Mobile pequeno        : até 480px
   Mobile padrão         : até 600px
   Tablet (retrato)      : 601px até 768px
   Tablet (paisagem)     : 769px até 992px
   Notebook / Desktop    : 993px até 1200px
   Telas grandes / TV    : acima de 1200px

   Padrão recomendado (Mobile First):
   - Base CSS: Mobile
   - @media (min-width: 768px)  → Tablet
   - @media (min-width: 992px)  → Desktop
   - @media (min-width: 1200px) → Telas grandes
===================================================== */


 @media screen and (min-width: 768px) and (max-width: 992px){
    body{
    background-image: linear-gradient(to top , #49a09d,#5f2c82);
}
    section#login{
        width: 80vw;
        height: 370px;

    }
    section#login > div#imagem{
        float: left;
        width: 40%;
        height: 100%;
    }
    section#login > div#formulario{
        float: right;
        width:60%;
        height: 100%;
    }
 }

  @media screen and (min-width: 992px){
     body{
    background-image: linear-gradient(to top , #49a09d,#5f2c82);
} 
    
    section#login{
        width: 950px;
         height: 400px;

    }
    section#login > div#imagem{
        float: right;
        width: 40%;
        height: 100%;
    }
    section#login > div#formulario{
        float: left;
        width:60%;
    }
    div#formulario > h1{
        font-size: 2em;
    }

    div#formulario > p{
    font-size: 1.2em;
    margin: 20px 0px;
  }
}